@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Anton');

body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}

p{
    color: #8f8f8f;
}

.big-heading{
    padding-top: 15%;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
}

.section-heading{
    font-size: 3rem;
    line-break: 1.5;
    color: black;
}
.container-fluid{
    padding: 7% 15%;
}

.colored-section{
    /*color: #121416;*/
    background-color: lightgrey;
}
.second-color-section{
    background-color: grey;
}
.white-section{
    background-color:#fff;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 0 0 4.5rem;
    color: green;
}

.navbar-logo{
    padding: 20px;
    width: 20%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

a .nav-item{
    padding: 0 18px;
    color: green;
}
a .nav-link{
    font-size: 1.2rem;
    color: green;
}


/* Title Section */

#title .container-fluid{
    text-align: left;
    padding: 3% 15% 7%;
}


/* Like Us Buttons */

.like-us-image{
    width: 25%;
    padding: 10px;
    align-items: center;
}


/* Tittle Image */

.title-image{
    padding-top: 80px;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Showroom Section */

#testimonials{
    background-color: #ef8172;
}
.showroom-text{
    font-size: 3rem;
    line-height: 1.5;
}
.showroom-image{
    width: 60%;
    border-radius: 10%;
}

.services-text{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px;
}
.services-image{
    width: 100%;
    /*padding: 10px;*/
    /*margin: auto;*/
}

.services-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.bro-image{
    width: 100%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer Section */

a .social-icon{
    margin: 20px 10px;
}
a .social-icon:hover{
    color: #ff4c68;
}


/* Media Query */

@media (max-width:1028px){
    #title{
        text-align: center;
    }
}